{% load default_urls_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>Pleso.net Team Stream</title>
<script type="text/javascript" src="{% static "js/jquery-1.2.6.pack.js" %}"></script>
{% block head %}{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
<script type="text/javascript">
	$(document).ready(function(){
		$('.confirm-button').click(function() {
			return confirm("Are you sure?");
		});
	});
</script>
</head>
<body>

<table><tr>
	<td><a href="/">main</a></td>
	<td><a href="/admin/">admin</a></td>
	<td><a href="/report/">report</a></td>
	<td><a href="http://dev.pleso.net/trac/wiki/teamstream-manual/">help</a></td>
</tr></table>

{% block body %}{% endblock %}

</body>
</html>